.panel {
    border-right: 1px solid #ddd;
    overflow: auto;
    padding: 16px;
    height: 100%;

    &:last-child {
        border-right: 0;
    }

    @include mobile() {
        display: none;
        width: 100%!important;
        padding: 10px;

        &.panel--active {
            display: block;
        }
    }
}