* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    line-height: 1.4;
    margin: 0;


}

@import "colors";
$monospace: 'Inconsolata', courier, monospace;


input {
    border: transparent;
    background: #ddd;
    padding: 10px;
    font-family: inherit;
    outline: none;
}

@mixin mobile {
    @media only screen
    and (max-width: 767px) {
        @content;
    }
}

